@page

@using System.Security.Claims
@using System.Collections.Generic
@using System.Linq

@model IndexModel
@{
    ViewData["Title"] = "Home page on Linux Container on App Service";
}

<div class="text-center">
    <h1 class="display-4">Welcome normalian web01 version 9 on ACR</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<div>@ViewData["message"]</div>

@if (ClaimsPrincipal.Current == null)
{
    <div>ClaimsPrincipal.Current is empty</div>
}
<ul>
    @foreach (var claim in ClaimsPrincipal.Current.Claims.ToList())
    {
        <li><span>@claim.Type</span> = <span>@claim.Value</span></li>
    }
</ul>