@page
@model PrivacyModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
@if (string.IsNullOrEmpty(User.Identity.Name) == true)
{
    <div>User.Identity.Name is empty</div>
}
else
{
    <div>@User.Identity.Name</div>
}
